<% if signed_in? %>

  <div id="punchdata_table">
    <% if @t_punchdata.any? %>
      <h3>打刻データ (<%= @t_punchdata.count %>)</h3>
      <table>
        <tbody>
        <tr>
          <th>カード識別番号</th>
          <th>入退室区分</th>
          <th>打刻時刻</th>
        </tr>
          <%= render @t_punchdata %>
        </tbody>
      </table>
      <%= will_paginate @t_punchdata %>
    <% end %>
  </div>
<% else %>

  <% provide(:title, 'Home') %>
  <div class="center hero-unit">
    <h1>入退室管理システム(mgTime)</h1>
    <p>
        入退室管理システム(mgTime) です。
    </p>
  
  
    新規登録は<%= link_to "こちら＞＞登録ページへ", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
