<h1>※管理者専用※ <br>ユーザマスタメンテナンス</h1>

<div id="punchdata_table">
<table>
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>名前</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @m_users.each do |m_user| %>
      <tr>
        <td><%= m_user.id %></td>
        <td><%= m_user.user_name %></td>
        <td><%= link_to '＞＞削除', m_user, method: :delete, data: { confirm: 'でじま?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'カードマスタメンテナンス', m_cards_path %>
