<tr>
  <td><%= t_punchdatum.card_identification_code %></td>
  <td><%= t_punchdatum.access_control_kubun %></td>
  <td><%= t_punchdatum.created_at.getlocal %></td>
  <!--td>
    Punched <%= time_ago_in_words(t_punchdatum.created_at) %> ago.
  </td-->
</tr>


