<footer class="footer">
  <small>
    <div id="logo1"><div><%= link_to "", "http://miraholdings.co.jp/index.html", { :target => "_blank" } %></div></div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "参考",   about_path %></li>
      <!--li><%= link_to "Contact", contact_path %></li-->
      <!--li><a href="http://news.railstutorial.jp/">News</a></li-->
    </ul>
  </nav>
</footer>
